<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :role %><br>
    <%= form.text_field :role%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>