<h1><%= @user.role %></h1>
<% if user_signed_in? %>
  <% if @user == current_user %>
    <span>Здравствуйте, <%= current_user.name %></span>
    <%= link_to 'Выйти', destroy_user_session_path, data: { turbo_method: :delete } %>
  <% end %>
<% end %>
<% if @user.driver? %>
  <p><%= "Баланс: " + @user.balance.to_s %></p>
  <% if @user.rating.present? %>
    <p><%= "Рейтинг: " + @user.rating.to_s %></p>
  <% end %>
<% end %>
<% if @info.present? %>
  <div>
    <%= link_to 'Текущий Заказ:', order_path(@order, user_id: @user.id) %><br> <%= @info.html_safe %>
  </div>
<% end %>

<ul>
  <% if @user.client? %>
    <% if @user.cur_order_id.nil? %>
      <li><%= link_to 'Новый Заказ', new_order_path %></li>
    <% end %>
  <% end %>

  <% if @user.admin? %>
    <li> <%= link_to 'Опции', options_path(user_id: @user.id) %> </li>
  <% end %>

  <% if @user.admin? || @user.driver? %>
    <li><%= link_to 'Доступные Заказы', looking_for_car_orders_path %></li>
  <% end %>

  <li><%= link_to 'История Заказов', past_orders_path %></li>
  <li><%= link_to 'Редактировать профиль', edit_user_registration_path(@user) %></li>
  <li><%= link_to 'Удалить Профиль', registration_path(@user), data: { turbo_method: :delete, turbo_confirm: 'Вы уверены?' } %></li>

  <% if @user.admin? %>
    <h2>Admin Dashboard</h2>
    <p><%= "Денег получено: " + @money.to_s %></p>
    <li><%= link_to 'Пользователи', users_path %></li>
    <li><%= link_to 'Заказы', dashboard_orders_path %></li>
  <% end %>
</ul>
