<h1><%= @user.role %></h1>

<p><%= @user.name %></p>

<div><%= @string %></div>

<ul>
  <li><%= link_to @link, new_order_path(user_id: @user.id) %></li>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
  <li><%= link_to "Delete", user_path(@user), data: {
    turbo_method: "delete",
    turbo_confirm: "Are you sure?"
  } %></li>
  <li><%= link_to "Back", users_path %></li>
</ul>
