<h1><%= @user.role %></h1>

<p><%= @user.name %></p>

<div><%= @string %></div>

<ul>
  <% if @user.client? %>
    <% if @user.cur_order_id.nil? %>
      <li><%= link_to "New order", new_order_path(user_id: @user.id) %></li>
    <% else %>
      <% if @driver.admin? %>
        <li><%= link_to "Cancel order", cancel_user_path(@user), method: "delete", data: { confirm: "Are you sure?" } %></li>
      <% end %>
    <% end %>
  <% else %>
    <% if @user.cur_order_id.nil? %>
      <li><%= link_to "Look for orders", orders_path(user_id: @user.id) %></li>
    <% else %>
      <li><%= link_to "Open order", order_path(@order, user_id: @user.id) %></li>
      <li><%= link_to "Close order", close_user_path(@user), method: "delete", data: { confirm: "Are you sure?" } %></li>
    <% end %>
  <% end %>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
  <li><%= link_to "Delete", @user, method: "delete", data: { confirm: "Are you sure?" } %></li>
  <li><%= link_to "Back", users_path %></li>
</ul>
