<%= form_with model: @order do |form| %>
  <div>
    <%= form.label :from %><br>
    <%= form.text_field :from %>
  </div>

  <div>
    <%= form.label :to %><br>
    <%= form.text_field :to%>
  </div>

  <div><%= form.select :tariff, %w[standard comfort premium] %></div>

  <div>
    <%= form.label :message %><br>
    <%= form.text_area :message%>
  </div>

  <ul>
    <% @options.each do |option| %>
      <li>
        <div>
          <%= form.check_box option.name %>
          <%= form.label option.name, "You need "+ option.name %>
        </div>
      </li>
    <% end %>
  </ul>

  <div><%= hidden_field_tag 'client_id', params[:user_id]  %></div>
  <div>
    <%= @msg %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
