<h1>Orders</h1>
<% if @user.driver? || @user.admin?%>
<h3>Свободные заказы</h3>
<ul>
  <% @orders_to_take.reverse.each do |order| %>
    <li>
      <a href="<%= order_path(order, user_id: @user.id) %>">
        <% if order.driver_id.present? %>
          <%= User.find(order.driver_id).name %>
        <% else %>
          <%= "Заказ не принят" %>
        <% end %>
        <%= "," %>
        <%= User.find(order.client_id).name %><%= "," %>
        <%= order.from %><%= "," %>
        <%= order.to %><%= "," %>
        <%= order.status %>
      </a>
    </li>
  <% end %>
</ul>
<% end %>

<% if @current_order_info.present?%>
  <%=link_to  "Текущий заказ:" , order_path(@current_order, user_id: @user.id) %> <%= @current_order_info %>
<% end %>



<h3>Прошлые заказы</h3>
<ul>
  <% @orders.reverse.each do |order| %>
    <li>
      <a href="<%= order_path(order, user_id: @user.id) %>">
        <% if order.driver_id.present? %>
          <%= User.find(order.driver_id).name %>
        <% else %>
          <%= "Заказ не принят" %>
        <% end %>
        <%= "," %>
        <%= User.find(order.client_id).name %><%= "," %>
        <%= order.from %><%= "," %>
        <%= order.to %><%= "," %>
        <%= order.status %>
      </a>
    </li>
  <% end %>
  </br><div><%= link_to "Back to Profile",user_path(@user) %></div>
  <% if current_user.admin?%>
    <div><%= link_to "Dashboard",user_path(current_user) %></div>
  <%end%>

</ul>
