<!DOCTYPE html>
<html lang="en">
<head>
  <title>Orders</title>
  <link rel="stylesheet" href="icofont.css">
</head>
<body>
<% presenter = OrdersPresenter.new(@orders) %>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card h-75">
        <div class="card-body">
          <i class="icofont icofont-archive text-primary h4 float-end"></i>
          <h5 class="pt-1"><%= @orders.length %></h5>
          <p class="text-muted mb-0">Заказов всего</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-75">
        <div class="card-body">
          <i class="icofont icofont-mathematical-alt-1 text-primary h4 float-end"></i>
          <h5 class="pt-1"><%= @orders.finished.length %></h5>
          <p class="text-muted mb-0">Заказов завершено</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-75">
        <div class="card-body">
          <i class="icofont icofont-ui-file text-primary h4 float-end"></i>
          <h5 class="pt-1"><%= presenter.fee_total %> &#8381;</h5>
          <p class="text-muted mb-0">Сервис заработал</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive project-list">
            <table class="table project-table table-centered table-nowrap">
              <thead>
              <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Начало поездки</th>
                <th scope="col">Пассажир</th>
                <th scope="col">Водитель</th>
                <th scope="col">Откуда/Куда</th>
                <th scope="col">Статус</th>
                <th scope="col">Получит водитель</th>
                <th scope="col">Сбор сервиса</th>
                <th scope="col" style="width: 16.66%;">
                  <div class="input-group mb-0">
                    <input type="text" class="form-control form-control-sm" placeholder="Поиск..." aria-describedby="project-search-addon"/>
                    <button class="btn btn-danger" type="button">
                      <i class="icofont icofont-ui-search"></i></button>
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>
              <% @orders.each_with_index do |order, i| %>
                <tr>
                  <th scope="row"><%= i + 1 %></th>
                  <td class="text-center"><%= presenter.start_datetime(i) %></td>
                  <td class="text-center"><%= order.client.name %></td>
                  <td class="text-center"><%= order.driver.name %></td>
                  <td>
                    <p class="text-gray mb-1"><i class="icofont icofont-location-arrow"></i>
                      <%= order.from %>
                    </p>
                    <p class="text-gray mb-2"><i class="icofont icofont-location-pin"></i>
                      <%= order.to %>
                  </td>
                  <td class="text-center"><span class="<%= presenter.status_formatting(i)[:text_type] %> font-12"> <%= order.status %></span>
                  </td>
                  <td class="text-center"><%= presenter.drivers_income[i] %></td>
                  <td class="text-center"><%= presenter.service_fee[i] %></td>
                  <td class="text-center">
                    <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Редактировать">
                      <i class="icofont icofont-ui-edit"></i></button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить">
                      <i class="icofont icofont-bin h5"></i></button>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>