<h1>Orders</h1>

<ul>
  <% @orders.each do |order| %>
    <li>
      <a href="<%= order_path(order, user_id: params[:user_id]) %>">
        <% if order.driver_id.present? %>
          <%= @users.find(order.driver_id).name %>
        <% else %>
          <%= "Заказ не принят" %>
        <% end %>
        <%= "," %>
        <%= @users.find(order.client_id).name %><%= "," %>
        <%= order.from %><%= "," %>
        <%= order.to %><%= "," %>
        <%= order.status %>
      </a>
    </li>
  <% end %>
  <div><%= link_to "Back",user_path(@driver) %></div>
</ul>
