<h1>Orders</h1>

<ul>
  <% @orders.each do |order| %>
    <li>
      <a href="<%= order_path(order) %>">
        <%= "Нет водителя" %><%= "," %>
        <%= @users.find(order.client_id).name %><%= "," %>
        <%= order.from %><%= "," %>
        <%= order.to %><%= "," %>
        <%= order.status %>
      </a>
    </li>
  <% end %>
  <div><%= link_to "New", new_order_path(@order) %></div>
</ul>
