<% if @order.driver_id.present? %>
  <h1><%= @driver.name %></h1>
<% else %>
  <h1><%= "Заказ не принят" %></h1>
<% end %>


<p><%= @client.name %></p>
<% if @order.driver_rating.present? %>
  <p><%= "Rating of this order: " + @order.driver_rating.to_s %></p>"
<% end %>
<div><%= @info %></div>
<p><%= "Status: " + @order.status %></p>
<ul>
  <% if @order.driver_id.present? %>
    <li><%= link_to "Cancel", cancel_order_path(@order, user_id: params[:user_id]), method: "delete", data: { confirm: "Are you sure?" } %></li>
  <% else %>
    <li><%= link_to "Accept", accept_order_path(@order, user_id: params[:user_id]), method: "post", data: { confirm: "Are you sure?" } %></li>
  <% end %>
  <li><%= link_to "Edit", edit_order_path(@order) %></li>
  <li><%= link_to "Delete", @order, method: "delete", data: { confirm: "Are you sure?" } %></li>
  <li><%= link_to "Back", orders_path(user_id: params[:user_id]) %></li>
</ul>