<% if !@driver.admin? %>
  <h1><%= @driver.name %></h1>
<% else %>
  <h1><%= "Заказ не принят" %></h1>
<% end %>


<p><%= @client.name %></p>
<div><%= @info %></div>
<p><%= "Status: " + @order.status %></p>
<ul>
  <li><%= link_to "Edit", edit_order_path(@order) %></li>
  <li><%= link_to "Delete", @order, method: "delete", data: { confirm: "Are you sure?" } %></li>
  <li><%= link_to "Back", orders_path %></li>
</ul>